body {
    text-align:center;
}
    
::selection {
    background:#88BEF7;
}
    
.row{  
    display:flex;
    flex-wrap:wrap;
    background-color:black;
    color:white;
    font-size:20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer1 a{
    text-decoration:none;
    margin-left:25px;
    text-align:center;
    color:#99C7F7;
}

.footer1 a:hover {
    cursor:pointer;
    color:#007BFF;
    transition:0.5s;
}

.footer1 {
    padding:20px;
    text-align:center;
    margin:0 auto;
}

.footer1 p {
    margin-top:-3px;
}

.headshot{
    width:10%;
    height:100px;
}

.mid{
    color:white;
    align-items:center;
    margin-bottom:5px;
    width:100%;
    height:450px;
    text-shadow: 3px 3px 2px #ED4D34;
    background-image:url("https://cdn.theatlantic.com/assets/media/img/mt/2017/11/Salesforce_Tower_Skyline/lead_720_405.jpg?mod=1533691912");
    background-repeat: no-repeat;
    background-size:100% 450px;
}

#bg {
    background-repeat:no-repeat;
    height:450px;
    width:100%;
    z-index:1;
    margin-top:-120px;
}

.mid p {
    margin:0 auto;
    font-family: 'Lora', serif;
    font-size:75px;
    z-index:9;
    color:#F0B556;
}

.footer2 p {
    margin-left:20px;
    margin:0 auto;
    font-family: 'Lora', serif;
    font-size:15px;
    margin-top:25px;
}

.footer2 {
    margin-top:-5px;
    height:50px;
}

.bio {
    text-align:center;
    margin:0 auto;
    display:block;
    font-family:lora;
    margin-top:-50px;
    margin-bottom:-20px;
}


.bio p {
    font-size:15px;
    text-align:center;
    margin-left:35px;
    margin-right:35px;
}

.bio h1 {
    font-family:source sans pro;
    margin-bottom:-10px;
}

.bio a {
    text-decoration:none;
    color:#99C7F7;
    transition:0.5s;
    margin:25px;
}

.bio a:hover {
    color:white;
    transition:0.5s;
}

.portfolio img {
    height:150px;
    width:280px;
    margin:50px;
}

.portfolio {
    background-color:white;
    align-items:center;
    margin:0 auto;
    display:block;
}